[submodule "libs/cpp-httplib"]
    path = libs/cpp-httplib
    url = https://github.com/yhirose/cpp-httlib
[submodule "libs/rapidjson"]
    path = libs/rapidjson
    url = https://github.com/Tencent/rapidjson
[submodule "3rdparty/RapidFuzz"]
	path = 3rdparty/RapidFuzz
	url = https://github.com/maxbachmann/rapidfuzz-cpp.git
