[submodule "libs/color"]
	path = libs/color
	url = https://github.com/RickieBlaese/color
[submodule "3rdparty/RapidFuzz"]
	path = 3rdparty/RapidFuzz
    url = https://github.com/maxbachmann/rapidfuzz-cpp.git
[submodule "libs/cpp-httplib"]
    path = libs/cpp-httplib
    url = https://github.com/yhirose/cpp-httlib
